<header class="bg-white p-4 flex justify-between">
  <div class="user-info flex items-center">
    <div class="avatar w-12 h-12 bg-purple-300 text-white font-bold flex items-center justify-center rounded-full mr-4">
      {{userInfo?.name?.charAt(0)?.toUpperCase() || ''}}
    </div>
    <h1 class="text-xl font-semibold text-gray-800">Hola {{userInfo?.name || ''}} 👋</h1>
  </div>
  <div class="actions flex items-center space-x-2">
    <button class="icon-button relative hover:text-blue-600 transition-all">
      <span class="material-icons">notifications</span>
    </button>
    <button (click)="logout()" class="icon-button hover:text-blue-600 transition-all">
      <span  class="material-icons">logout</span>
    </button>
  </div>
</header>