<nav class="fixed bottom-0 left-0 right-0 border bg-white shadow-md p-4 flex justify-around items-center">
  <button 
    class="flex flex-col items-center text-gray-600 text-xs focus:outline-none hover:text-purple-700 active:text-purple-800"
    [ngClass]="{'text-purple-700': activeButton === 0}"
    (click)="setActive(0)">
    <span class="material-icons text-2xl">home</span>
    <span>Inicio</span>
  </button>
  <button 
    class="flex flex-col items-center text-gray-600 text-xs focus:outline-none hover:text-purple-700 active:text-purple-800"
    [ngClass]="{'text-purple-700': activeButton === 1}"
    (click)="setActive(1)">
    <span class="material-icons text-2xl">local_offer</span>
    <span>Promos</span>
  </button>
  <button 
    class="flex flex-col items-center text-gray-600 text-xs focus:outline-none hover:text-purple-700 active:text-purple-800"
    [ngClass]="{'text-purple-700': activeButton === 3}"
    (click)="setActive(2)">
    <span class="material-icons text-2xl">credit_card</span>
    <span>Billetera</span>
  </button>
  <button 
    class="flex flex-col items-center  text-gray-600 text-xs focus:outline-none hover:text-purple-700 active:text-purple-800"
    [ngClass]="{'text-purple-700': activeButton === 4}"
    (click)="setActive(3)">
    <span class="material-icons text-2xl">account_circle</span>
    <span>Tú</span>
  </button>
</nav>