<div class="min-h-screen flex flex-col bg-gray-900 items-center  gap-6 text-center relative">
  
  <div>
    <button
      (click)="backHome()"
    class="absolute top-4 left-4 w-10 h-10 flex items-center justify-center bg-white text-black rounded-full shadow-lg">
    <span class="material-icons">arrow_back</span>
  </button>

  <button
    class="absolute top-4 right-4 w-10 h-10 flex items-center justify-center bg-white text-black rounded-full shadow-lg">
    <span class="material-icons">flashlight_on</span>
  </button>
  </div>
  
  <div class="flex flex-col space-x-2 mt-12 items-center ">
    <h1 class="text-lg font-semibold text-white px-6 mb-4">
      Escanea el código QR para obtener información de tu entrega
    </h1>
    <div class="relative w-full flex items-center justify-center">
      <img (click)="goToDeliveryDetails()" src="assets/simulacion.jpeg" alt="Código QR"  class="w-full h-[70vh] object-cover">
    </div>
  </div>
  <p *ngIf="scannedCode" class="text-lg font-medium text-gray-300 mt-2">
    ✅ Código escaneado: <span class="text-green-400">{{ scannedCode }}</span>
  </p>
</div>