<div class="app-container">
  <app-header></app-header>
  <main class="min-h-screen flex flex-col items-center space-y-12 mt-12 p-4">
    <header>
      <h1 class="text-3xl font-bold text-gray-800 mb-6">Crear Contra Pago</h1>
    </header>

    <div class="flex justify-center items-center flex-col text-2xl  mb-6">
      <span class="font-bold text-gray-500">$0.00</span>
      <span class="ml-2">Cantidad a cobrar</span>
    </div>

    <div class="w-full flex flex-col items-center">
      <input
        class="block w-2/3 p-3 mb-4 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-900 focus:border-transparent transition-all"
        placeholder="Cantidad">
      <input
        class="block w-2/3 p-3 mb-6 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-900 focus:border-transparent transition-all"
        placeholder="Detalle">
    </div>

    <div class="flex gap-4">
      <button
        class="bg-purple-900 text-white px-6 py-3 rounded-lg hover:bg-purple-900 focus:outline-none focus:ring-2 focus:ring-purple-900 focus:ring-offset-2 transition-all flex-1 flex items-center justify-center">
        <span class="material-icons">link</span>
        <span class="ml-2">Generar Link</span>
      </button>
      <button
        class="bg-purple-900 text-white px-6 py-3 rounded-lg hover:bg-purple-900 focus:outline-none focus:ring-2 focus:ring-purple-900 focus:ring-offset-2 transition-all flex-1 flex items-center justify-center"
        (click)="abrirNuevaPagina()">
        <span class="material-icons">search</span>
        <span class="ml-2">Buscar Verificador</span>
      </button>
    </div>
  </main>
  <app-footer-nav></app-footer-nav>
</div>